<body  class="inventory-body">
    <div class="top-text">Learning Through Activity Management System</div>
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="login-card">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
    
    
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="login-card">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                    name="password" required>
                            </mat-form-field>
                        </td>
    
    
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Selete your role</mat-label>
                                <mat-select [(value)]="selected">
                                    <mat-option *ngFor="let role of roles" [value]="role.value">
                                        {{role.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
            <button mat-raised-button (click)="register()" color="primary">Register</button>
        </mat-card-actions>
    </mat-card>
    </body>